
/*可変色設定以上*/
:root{
    --bg: #e89999;
    --surface: #ffe2da;
    --header: #f0f0f0;
    --btn: #de7c7c;
    --text: #662020;
}

body.blue {
    --bg: #BAD5F6;
    --surface: #E1F0FF;
    --header: #f0f0f0;
    --btn: #81A2CB;
    --text: #122950;
}

body.yellow {
    --bg: #e9e07d;
    --surface: #F2F0CB;
    --header: #f0f0f0;
    --btn: #B9A96D;
    --text: #574f23;
}

/*可変色設定以上*/



body {
    font-family: sans-serif;
    background-color: #FFF;
    margin: 0 0 30px 0;
    max-width: 100%;
}

main{
    margin: 0 10px 0 10px;
}


/*音声関連*/
.playlist-container {
    margin: 10px auto;/*下にも多分ちょっと入ってるから、次の要素との繋ぎによって設定を変えるといいでしょう（3Dにoutline系を入れたままにするならmargin消した方がいい）*/
    display: flex;
    flex-direction: column;
    gap: 10px; /* プレイヤー同士の隙間 */
    background-color: #FFF;
}

    /* 💡 個々のプレイヤーの枠組み */
.player-item {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

    /* 再生ボタンの基本形 */
.play-btn {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #6b7280; /* JSで書き換わる前の基本色 */
    flex-shrink: 0;
}

    /* 💡 波形を表示する器（長方形の海苔バー用） */
.waveform-container {
    flex-grow: 1;
    background-color: #f3f4f6;
    border-radius: 4px;
    overflow: hidden;
}

/*音声関連以上*/


/*3Dモデル*/
model-viewer {
    width: 100% !important;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
    background-color: #FFF;
    outline: solid 3px #0d3545;
}


/*ヘッダー*/
header{
    position: sticky;
    background-color: #FFF;
    color: #000;
    box-sizing: border-box;
    height: 60px;
    top: 0;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    width: 100%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #649bc7, #0d3545);
    border-image-slice: 1;
}

.header-button{
    justify-content: flex-end;
    display: flex;
    gap: 10px;
}

[id^=btn]{
    background-color: #c7dff2;
    border: #0d3545 solid 1.5px;
    border-radius: 5px;
    color: #0d3545;

}
/*ヘッダー以上*/


/*ページトップの文言*/
.hello-message{
    text-align: center;
}
/*ページトップの文言以上*/

/*3Dパートのスクショ*/
#butai{
    max-width: 100%;
}
#kyaku{
    max-width: 100%;
    margin-top: 10px;
}
/*3Dパートのスクショ以上*/

p{
    margin: 30px auto 10px auto;
}

h1{
    text-align: center;
    margin: 20px auto 10px auto;
    color: #0d3545;
}



h2{
    margin: 10px auto 5px auto;
    color: #387189;
}

hr{
    height: 3px;
    border: none;
    background: linear-gradient(to right, #649bc7, #0d3545);
}

/*ヘッダーボタンでジャンプする先(h1)の位置調整*/
#kako{
    scroll-margin-top: 80px;
}

#ongaku{
    scroll-margin-top: 80px;
}

#naiyo{
    scroll-margin-top: 80px;
}
